*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
display:flex;
min-height:100vh;
background:url("logrosf.png");
background-size:cover;
background-position:center;
background-attachment:fixed;
overflow-x:hidden;
}

.menu{
width:180px;
min-height:100vh;
background:linear-gradient(#fdfcff,#305a84);
display:flex;
flex-direction:column;
align-items:center;
padding-top:20px;
box-shadow:5px 0 15px black;
}

.boton{
width:120px;
height:120px;
background:linear-gradient(#fdfcff,#305a84);
margin:18px 0;
display:flex;
justify-content:center;
align-items:center;
border-radius:8px;
transition:.3s;
}

.boton img{
width:70px;
height:70px;
object-fit:contain;
}

.boton:hover{
transform:scale(1.05);
box-shadow:0 0 20px rgb(6,111,181);
}

.cerrar{
margin-top:auto;
margin-bottom:25px;
}

.cerrar img{
width:70px;
}

.contenido{
flex:1;
padding:30px;
overflow-y:auto;
}

.titulo{
text-align:center;
color:white;
font-size:30px;
margin-bottom:25px;
text-shadow:0 0 10px black;
}

.listaLogros{
width:90%;
max-width:750px;
margin:auto;
}

.logro{
background:linear-gradient(#ffffff,#305a84);
border-radius:15px;
padding:18px;
margin-bottom:25px;
box-shadow:0 0 15px black;
color:white;
}

.usuarioLogro{
display:flex;
align-items:center;
margin-bottom:15px;
}

.usuarioLogro img{
width:60px;
height:60px;
border-radius:50%;
object-fit:cover;
border:3px solid white;
margin-right:12px;
}

.usuarioLogro strong{
font-size:20px;
color:white;
}

.tituloLogro{
background:#305a84;
color:white;
padding:10px 15px;
border-radius:8px;
font-weight:bold;
display:inline-block;
margin-bottom:10px;
box-shadow:0 0 8px black;
}

.logro p{
font-size:17px;
line-height:1.4;
margin:10px 0;
color:white;
}

.imagenLogro{
display:block;
width:100%;
max-height:350px;
object-fit:contain;
border-radius:12px;
margin-top:12px;
background:white;
}

.logro small{
display:block;
margin-top:12px;
color:white;
font-size:13px;
}

.sinLogros{
width:90%;
max-width:600px;
margin:auto;
background:linear-gradient(#ffffff,#305a84);
color:white;
text-align:center;
padding:25px;
border-radius:15px;
box-shadow:0 0 15px black;
font-size:20px;
}

@media(max-width:600px){

body{
flex-direction:column;
}

.menu{
width:100%;
min-height:auto;
flex-direction:row;
justify-content:center;
flex-wrap:wrap;
padding:10px;
}

.boton{
width:70px;
height:70px;
margin:8px;
}

.boton img{
width:40px;
height:40px;
}

.cerrar{
margin:8px;
}

.contenido{
padding:15px;
}

.titulo{
font-size:24px;
}

.listaLogros{
width:100%;
}

.logro{
padding:13px;
}

.usuarioLogro img{
width:50px;
height:50px;
}

.usuarioLogro strong{
font-size:17px;
}

.logro p{
font-size:16px;
}

.imagenLogro{
max-height:250px;
}

}

@media(min-width:601px) and (max-width:1000px){

.menu{
width:140px;
}

.boton{
width:90px;
height:90px;
}

.boton img{
width:55px;
height:55px;
}

.contenido{
padding:25px;
}

.listaLogros{
width:95%;
}

.logro{
width:100%;
}

}